.about {
  .__container {
    .aboutAs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 100vh;
      column-gap: 70px;
      line-height: 1.3em;
      @media (max-width: 1134.98px) {
        column-gap: 40px;
      }
      @media (max-width: 767.98px) {
        flex-wrap: wrap;
        padding-top: 80px;
        padding-right: 10px;
        justify-content: center;
        text-align: center;
        display: block;
      }
      @media (max-width: 425.98px) {
        row-gap: 0;
      }

      .imageIbg {
        position: relative;
        padding-left: 40%;
        margin-top: 10%;
        justify-content: center;
        align-content: center;
        aspect-ratio: 10/10;

        .imageRadius {
          bottom: 0px;
          left: 0px;
          position: absolute;
          width: 400px;
          height: 309px;
          animation: morph 10s linear infinite;

        }

        @keyframes morph {
          0%, 100% {
            border-radius: 26% 74% 49% 51% / 21% 51% 49% 79%;
          }
          25% {
            border-radius: 14% 26% 50% 50% / 53% 29% 71% 47%;
          }
          50% {
            border-radius: 48% 52% 28% 72% / 45% 71% 29% 55%
          }
          75% {
            border-radius: 48% 52% 76% 24% / 70% 49% 51% 30%;
          }

        }

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          //box-shadow: 12px 12px 2px 1px #fff;
          top: 0;
          left: 0;
          object-fit: cover;
          max-width: 640px;
          @media (max-width: 764.98px) {
            height: 120%;
          }
          @media (max-width: 320.98px) {
            height: 140%;
          }
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .block {

        }

        .title {
          font-size: 42px;
          line-height: 1.3em;
          font-weight: 800;
          text-transform: uppercase;
          text-shadow: 2px 2px #212228;
        }

        .text {
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 2px;
          margin-bottom: 20px;
          @media (max-width: 767.98px) {
            margin-bottom: 0
          }

        }

        .about {
          line-height: 1.3em;
          font-weight: 400;
          margin-bottom: 50px;
          @media (max-width: 767.98px) {
            margin-bottom: 20px
          }
        }

        .btnLink {
          a {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.3em;
            position: relative;
            display: block;
            z-index: 99;
            top: 50%;
            text-align: center;

            .icon {
              font-size: 14px;
              margin-left: 7px;
            }
          }

        }

      }

    }
  }
}

//.about {
//  .__container {
//    .aboutAs {
//      display: flex;
//      justify-content: space-between;
//      align-items: center;
//      min-height: 100vh;
//      column-gap: 70px;
//      line-height: 1.3em;
//      @media (max-width: 1134.98px) {
//        column-gap: 40px;
//      }
//      @media (max-width: 767.98px) {
//        flex-wrap: wrap;
//        padding-top: 80px;
//        padding-right: 10px;
//        justify-content: center;
//        text-align: center;
//        display: block;
//      }
//      @media (max-width: 425.98px) {
//        row-gap: 0;
//      }
//
//      .imageIbg {
//        position: relative;
//        padding-left: 40%;
//        justify-content: center;
//        align-content: center;
//        aspect-ratio: 10/10;
//
//        .imageRadius {
//          bottom: 0px;
//          left: 0px;
//          position: absolute;
//          width: 400px;
//          height: 309px;
//          animation: morph 10s linear infinite;
//
//        }
//
//        @keyframes morph {
//          0%, 100% {
//            border-radius: 26% 74% 49% 51% / 21% 51% 49% 79%;
//          }
//          25% {
//            border-radius: 14% 26% 50% 50% / 53% 29% 71% 47%;
//          }
//          50% {
//            border-radius: 48% 52% 28% 72% / 45% 71% 29% 55%
//          }
//          75% {
//            border-radius: 48% 52% 76% 24% / 70% 49% 51% 30%;
//          }
//
//        }
//
//        img {
//          position: absolute;
//          width: 100%;
//          height: 100%;
//          border-radius: 50%;
//          //box-shadow: 12px 12px 2px 1px #fff;
//          top: 0;
//          left: 0;
//          object-fit: cover;
//          max-width: 640px;
//          @media (max-width: 764.98px) {
//            height: 120%;
//          }
//          @media (max-width: 320.98px) {
//            height: 140%;
//          }
//        }
//      }
//
//      .content {
//        display: flex;
//        flex-direction: column;
//        gap: 10px;
//
//        .block {
//
//        }
//
//        .title {
//          font-size: 42px;
//          line-height: 1.3em;
//          font-weight: 800;
//          text-transform: uppercase;
//          text-shadow: 2px 2px #212228;
//        }
//
//        .text {
//          font-weight: 700;
//          font-size: 14px;
//          letter-spacing: 2px;
//          margin-bottom: 20px;
//          @media (max-width: 767.98px) {
//            margin-bottom: 0
//          }
//
//        }
//
//        .about {
//          line-height: 1.3em;
//          font-weight: 400;
//          margin-bottom: 50px;
//          @media (max-width: 767.98px) {
//            margin-bottom: 20px
//          }
//        }
//
//        .btnLink {
//          a {
//            font-weight: 400;
//            font-size: 16px;
//            line-height: 1.3em;
//            position: relative;
//            display: block;
//            z-index: 99;
//            top: 50%;
//            text-align: center;
//
//            .icon {
//              font-size: 14px;
//              margin-left: 7px;
//            }
//          }
//
//        }
//
//      }
//
//    }
//  }
//}
//


