.remoteJob {
  padding: 30px 0;

  .__container {

    .title {
      margin-bottom: 40px;
      display: inline-block;
      font-weight: 700;
      font-size: 12px;
      color: #868a9b;
      text-transform: uppercase;
      letter-spacing: 2px;
      align-items: start;
      @media (max-width: 320.98px) {
        margin-bottom: 30px;
      }
    }

    .btn {
      text-align: center;
      .button {
        display: inline-block;
        font-size: 20px;
        background-color: #4e4e4e;
        padding: 10px 30px;
        border-radius: 10px;
        max-width: 400px;
        width: 100%;
        align-self: stretch;
        font-weight: 700;
        line-height: 1.5em;
        transition: all 0.3s;
        cursor: pointer;

        .icon {
          font-size: 17px;
          margin-left: 10px;
        }

        &:hover {
          background-color: #464242;
        }
      }

    }

  }

}