.portfolio {
  padding: 30px 0;

  .__container {

  }

  .our {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    color: #868a9b;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .items {
    column-gap: 45px;
    align-items: center;
    margin-bottom: 90px;

    .title {
      font-size: 60px;
      line-height: 1.2em;
      font-weight: 700;
    }

    .text {
      font-size: 16px;
      line-height: 1.75em;
      font-weight: 400;
    }
  }

  .works {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
  }


}


