.header {
    background-color: #61dafb;
}
.__container {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .__container {
        justify-content: center;
    }
}