.work {
  display: flex;
  flex-direction: column;
  max-width: 610px;
  text-align: center;
  gap: 20px;
  flex: 1 1 25%;
  max-height: 500px;
  padding: 30px 10px;
  background-color: #212228;
  transition: all .5s ease-in;
  border-radius: 20px;
  margin: 0 7px 0 7px;

  &:hover {
    transform: scale(1.05);
  }


  .preview {
    .image {
      position: relative;
      padding-bottom: 60%;
      text-align: center;


      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        border-radius: 20px;
      }

      .link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        font-size: 20px;
        line-height: 2;
        color: #be52a6;
        background-color: #f1e8e8;
        padding: 5px 30px;
        border-radius: 20px;
      }


    }
  }

  .tittle {
    font-size: 30px;
    font-weight: 500;
    line-height: 2;
  }

  .text {
    line-height: 1.5;
  }

}
