@import "./src/styles/scss/variables.scss";

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  font-family: $fontFamilySyne;
  background-color: $bgColor;
  color: $textColor;
  font-size: $textFontSize;
}

[class*="__container"] {
  max-width: 1140px !important;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

//@media (max-width: 1199px) {
//  [class*="__container"] {
//    max-width: 960px !important;
//  }
//}
//

@media (max-width: 1199.98px) {
  [class*="__container"] {
    padding: 0 25px;

  }
}

@media (max-width: 320.98px) {
  [class*="__container"] {
    padding: 0 10px;
  }
}
//
//@media (max-width: 768px) {
//  [class*="__container"] {
//    max-width: 540px !important;
//  }
//}
//
//@media (max-width: 575px) {
//  [class*="__container"] {
//    max-width: 100% !important;
//  }
//}

* {
  min-width: 0;
}

