
.card {
  padding: 30px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 500px;
  border-radius: 20px;
  flex: 1 1 25%;
  max-width: 610px;
  row-gap: 20px;
  color: #212228;
  margin: 0 10px;
  cursor: pointer;
  transition: all .5s ease-in;


  &:hover {
    background-color: #212228;
    color: white;
    transform: scale(1.05);
  }


  .image {
    display: flex;
    flex: 0 0 70px;
    width: 70px;
    align-items: flex-end;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 70px;

    }
  }

  .title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .bar {

    .blackFill {
      min-width: 320px;
      position: relative;
      background-color: #212228;
      border-radius: 10px;
      height: 10px;
    }

  }

  .text {
    text-align: center;
    line-height: 1.5;
    font-size: 16px;

  }
}
////////////////////MEDIA//////////////////////////////////

@media (max-width: 320.98px) {
  .card {
    padding: 25px 15px;
    min-height: 290px;
    min-width: 260px;
  }

}
